SET FOREIGN_KEY_CHECKS=0;

-- 1. USERS TABLE
CREATE TABLE IF NOT EXISTS users (
  id INT PRIMARY KEY AUTO_INCREMENT,
  email VARCHAR(255) UNIQUE NOT NULL,
  password VARCHAR(255) NOT NULL,
  role VARCHAR(255) NOT NULL,
  created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
  full_name VARCHAR(255), 
  phone VARCHAR(255), 
  avatar_url VARCHAR(255), 
  updated_at DATETIME
);

INSERT INTO users VALUES(1,'admin@example.com','$2b$12$pTZPsps0e/SJ7w9nOVVu0ubrLwHCxTh/BJ/2KdR8h0tAI4zfI9S/K','Admin','2025-12-29 11:23:19','Hussain','9492809371','avatars/admin-1-d8cf05f7-fb2a-4c1a-af91-a423771e87b0.jpg','2026-01-16 06:39:49');

-- 2. STAFF TABLE
CREATE TABLE IF NOT EXISTS `staff` (
  id INT PRIMARY KEY AUTO_INCREMENT,
  name VARCHAR(255) NOT NULL,
  email VARCHAR(255) UNIQUE,
  role VARCHAR(255),
  skills VARCHAR(255),
  status VARCHAR(255) NOT NULL DEFAULT 'ACTIVE' CHECK(status IN ('ACTIVE','INACTIVE','ON_LEAVE')),
  created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
  inactive_reason VARCHAR(255),
  updated_at DATETIME DEFAULT CURRENT_TIMESTAMP
);

INSERT INTO staff VALUES(1,'Ravi Kumar','ravi@studio.com','Photographer','Wedding,Outdoor','ACTIVE','2025-12-30 06:12:34','changed','2026-01-03 10:07:53');
INSERT INTO staff VALUES(2,'Alex Morgan','alex.m@studio.com','videographer','Portrait,Lighting,Camera Man','ACTIVE','2026-01-03 07:19:23','not intrested','2026-01-05 07:05:29');
INSERT INTO staff VALUES(3,'Sri ram','rama@gmail.com ','admin','Camera Man,lighting,Editing','ACTIVE','2026-01-05 07:07:22','','2026-01-05 12:27:51');

-- 3. CLIENTS TABLE (The Missing Link)
CREATE TABLE IF NOT EXISTS `clients` (
  id INT PRIMARY KEY AUTO_INCREMENT,
  full_name VARCHAR(255) NOT NULL,
  email VARCHAR(255),
  phone VARCHAR(255),
  address TEXT,
  created_at DATETIME DEFAULT CURRENT_TIMESTAMP
);

-- Seed data for clients referenced in your events
INSERT INTO clients (id, full_name, email) VALUES 
(1, 'Default Client', 'client1@example.com'),
(3, 'Vijayawada Client', 'client3@example.com'),
(4, 'Wedding Lead', 'client4@example.com'),
(5, 'Engagement Lead', 'client5@example.com'),
(6, 'Hindu Wedding Lead', 'client6@example.com'),
(7, 'Reception Lead', 'client7@example.com'),
(8, 'General Lead', 'client8@example.com');

-- 4. EVENTS TABLE
CREATE TABLE IF NOT EXISTS `events` (
  id INT PRIMARY KEY AUTO_INCREMENT,
  client_id INTEGER NOT NULL,
  event_type VARCHAR(255) NOT NULL,
  event_date DATE NOT NULL,
  start_time TIME,
  end_time TIME,
  location VARCHAR(255),
  status VARCHAR(255) NOT NULL DEFAULT 'NEW' CHECK(status IN ('NEW','ASSIGNED','SHOOT_DONE','DELIVERED','CANCELLED')),
  created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
  updated_at DATETIME DEFAULT CURRENT_TIMESTAMP, 
  `Service Type` VARCHAR(255), 
  amount DECIMAL(10,2) DEFAULT 0, 
  Stage VARCHAR(255), 
  venue VARCHAR(255), 
  guest_count INTEGER, 
  enquiry_message VARCHAR(255), 
  source VARCHAR(255) DEFAULT 'WEBSITE', 
  paid_amount DECIMAL(10,2) DEFAULT 0, 
  `advance` DECIMAL(10,2), 
  amount_status INTEGER DEFAULT 0, 
  total_amount DECIMAL(10,2) DEFAULT 0,
  FOREIGN KEY (client_id) REFERENCES clients(id)
);

INSERT INTO events VALUES(1,1,'Wedding','2025-06-15','14:00:00','22:00:00','St. Mary’s Cathedral','ASSIGNED','2026-01-05 07:56:27','2026-02-23 02:40:15','Event Coverage',70000.0,'CONFIRMED',NULL,NULL,NULL,'WEBSITE',0.0,1000.0,0,1000.0);
INSERT INTO events VALUES(2,1,'Corporate Gala','2025-07-20','18:30:00','23:00:00','Grand Hyatt Ballroom','ASSIGNED','2026-01-05 07:56:27','2026-02-23 02:53:21','Portrait Session',60000.0,'CONFIRMED',NULL,NULL,NULL,'WEBSITE',0.0,10000.0,0,1000.0);
INSERT INTO events VALUES(3,1,'Engagement Shoot','2025-05-10','10:00:00','13:00:00','Central Park','ASSIGNED','2026-01-05 07:56:27','2026-02-23 02:56:03','Event Coverage',50000.0,'CONFIRMED',NULL,NULL,NULL,'WEBSITE',0.0,1000.0,0,1000.0);

-- 5. EVENT_STAFF TABLE
CREATE TABLE IF NOT EXISTS event_staff (
  id INT PRIMARY KEY AUTO_INCREMENT,
  event_id INTEGER NOT NULL,
  staff_id INTEGER NOT NULL,
  role VARCHAR(255), 
  attended INTEGER DEFAULT 1,
  created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
  FOREIGN KEY (event_id) REFERENCES events(id),
  FOREIGN KEY (staff_id) REFERENCES staff(id),
  UNIQUE (event_id, staff_id)
);

-- (Inserting your event_staff data...)
INSERT INTO event_staff VALUES(3,5,1,'Lead Photographer',1,'2026-01-05 08:17:32');
-- ... [Rest of your event_staff inserts] ...

-- 6. GALLERY & MEDIA
CREATE TABLE IF NOT EXISTS gallery (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    category VARCHAR(255) NOT NULL
);

INSERT INTO gallery VALUES(1,'Outdoor','WEDDINGS'), (5,'Telugu','WEDDINGS'), (11,'Baby Bumps','BABY PHOTOGRAPHY'), (12,'Best Toddlers','BABY PHOTOGRAPHY'), (14,'Couple Portraits','GALLERY'), (20,'Post-wedding','GALLERY'), (25,'International','DESTINATION');

CREATE TABLE IF NOT EXISTS `albums` (
    id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(255) NOT NULL,
    label_id INTEGER NOT NULL, 
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP, 
    cover_key VARCHAR(255),
    FOREIGN KEY (label_id) REFERENCES gallery(id) 
);

INSERT INTO albums VALUES(26,'Reshma & Gowri',1,'2026-01-21','path/to/cover.jpg');

SET FOREIGN_KEY_CHECKS=1;