CREATE TABLE users (
  id INT PRIMARY KEY AUTO_INCREMENT AUTO_INCREMENT,

  email TEXT UNIQUE NOT NULL,

  password TEXT NOT NULL,

  role TEXT NOT NULL,

  created_at DATETIME DEFAULT CURRENT_TIMESTAMP

, full_name TEXT, phone TEXT, avatar_url TEXT, updated_at DATETIME);

CREATE TABLE IF NOT EXISTS "events" (
  id INT PRIMARY KEY AUTO_INCREMENT AUTO_INCREMENT,
  client_id INTEGER NOT NULL,
  event_type TEXT NOT NULL,
  event_date DATE NOT NULL,
  start_time TIME,
  end_time TIME,
  location TEXT,
  status TEXT NOT NULL DEFAULT 'NEW'
    CHECK(status IN ('NEW','ASSIGNED','SHOOT_DONE','DELIVERED','CANCELLED')),
  created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
  updated_at DATETIME DEFAULT CURRENT_TIMESTAMP, `Service Type` TEXT, amount REAL DEFAULT 0, Stage TEXT, venue TEXT, guest_count INTEGER, enquiry_message TEXT, source TEXT DEFAULT 'WEBSITE', paid_amount REAL DEFAULT 0, `advance` REAL, amount_status INTEGER DEFAULT 0, total_amount REAL DEFAULT 0,

  FOREIGN KEY (client_id) REFERENCES clients(id)
);
CREATE TABLE event_staff (
  id INT PRIMARY KEY AUTO_INCREMENT AUTO_INCREMENT,
  event_id INTEGER NOT NULL,
  staff_id INTEGER NOT NULL,
  role TEXT, -- Lead Photographer, Assistant, etc.
  attended INTEGER DEFAULT 1,
  created_at DATETIME DEFAULT CURRENT_TIMESTAMP,

  FOREIGN KEY (event_id) REFERENCES events(id),
  FOREIGN KEY (staff_id) REFERENCES staff(id),
  UNIQUE (event_id, staff_id)
);
CREATE TABLE gallery (
    id SERIAL PRIMARY KEY,
    name VARCHAR(255) NOT NULL,       -- e.g., 'Outdoor'
    category VARCHAR(255) NOT NULL    -- e.g., 'WEDDINGS'
);
CREATE TABLE IF NOT EXISTS "albums" (
    id INT PRIMARY KEY AUTO_INCREMENT AUTO_INCREMENT,
    name TEXT NOT NULL,
    label_id INTEGER NOT NULL, -- This links to your 'gallery' table ID
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP, cover_key TEXT,
    FOREIGN KEY (label_id) REFERENCES gallery(id) 
);
CREATE TABLE IF NOT EXISTS "gallery_media" (
    id INT PRIMARY KEY AUTO_INCREMENT AUTO_INCREMENT,
    gallery_id INTEGER NOT NULL, -- Links to your 'gallery' table
    album_id INTEGER,           -- Links to the new 'albums' table
    title TEXT,
    s3_url TEXT NOT NULL,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (gallery_id) REFERENCES gallery(id),
    FOREIGN KEY (album_id) REFERENCES albums(id)
);
CREATE TABLE IF NOT EXISTS "studio_profile" (
    id INT PRIMARY KEY AUTO_INCREMENT AUTO_INCREMENT,
    studio_name VARCHAR(50) NOT NULL,
    description TEXT,
    image_url TEXT,
    address TEXT,
    phone VARCHAR(20),
    email VARCHAR(255),
    website TEXT,
    instagram VARCHAR(100),
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
CREATE TABLE user_sessions (
  id INT PRIMARY KEY AUTO_INCREMENT AUTO_INCREMENT,
  user_id INTEGER NOT NULL,

  device_name TEXT,
  ip_address TEXT,
  user_agent TEXT,

  is_current INTEGER DEFAULT 0,
  last_active DATETIME DEFAULT CURRENT_TIMESTAMP,
  created_at DATETIME DEFAULT CURRENT_TIMESTAMP,

  FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE
);
CREATE TABLE IF NOT EXISTS "event_cancellations" (
  id INT PRIMARY KEY AUTO_INCREMENT AUTO_INCREMENT,
  event_id INTEGER NOT NULL,
  admin_id INTEGER,
  reason TEXT,
  created_at DATETIME DEFAULT CURRENT_TIMESTAMP, admin_email TEXT,
  FOREIGN KEY (event_id) REFERENCES events(id)
);
CREATE TABLE notifications (

  id INT PRIMARY KEY AUTO_INCREMENT AUTO_INCREMENT,

  type TEXT NOT NULL,

  payload TEXT,

  user_id INTEGER,

  is_read INTEGER NOT NULL DEFAULT 0,

  created_at DATETIME DEFAULT CURRENT_TIMESTAMP

);
CREATE TABLE payments (

  id INT PRIMARY KEY AUTO_INCREMENT AUTO_INCREMENT,

  event_id INTEGER NOT NULL,

  amount REAL NOT NULL,

  method TEXT,

  reference TEXT,

  recorded_by INTEGER,

  created_at DATETIME DEFAULT CURRENT_TIMESTAMP, `Payment_type` INTEGER,

  FOREIGN KEY (event_id) REFERENCES events(id),

  FOREIGN KEY (recorded_by) REFERENCES users(id)

);
CREATE TABLE password_tokens (

  id INT PRIMARY KEY AUTO_INCREMENT AUTO_INCREMENT,

  client_id INTEGER NOT NULL,

  token TEXT NOT NULL UNIQUE,

  expires_at DATETIME NOT NULL,

  used INTEGER DEFAULT 0,

  created_at DATETIME DEFAULT CURRENT_TIMESTAMP,

  FOREIGN KEY (client_id) REFERENCES clients(id) ON DELETE CASCADE

);
CREATE TABLE IF NOT EXISTS "clients" (
  id INT PRIMARY KEY AUTO_INCREMENT AUTO_INCREMENT,
  name TEXT NOT NULL,
  phone TEXT NOT NULL,
  email TEXT UNIQUE,
  address TEXT,
  notes TEXT,
  created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
  updated_at DATETIME DEFAULT CURRENT_TIMESTAMP
, password_hash TEXT, is_account_active INTEGER DEFAULT 0);
CREATE UNIQUE INDEX idx_clients_phone ON clients(phone);
CREATE UNIQUE INDEX idx_clients_email ON clients(email);
CREATE TABLE cart (
    id INT PRIMARY KEY AUTO_INCREMENT AUTO_INCREMENT,
    user_id INTEGER NOT NULL,
    status TEXT DEFAULT 'active',
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP
);
CREATE TABLE cart_items (
    id INT PRIMARY KEY AUTO_INCREMENT AUTO_INCREMENT,
    cart_id INTEGER NOT NULL,
    product_id INTEGER NOT NULL,
    quantity INTEGER NOT NULL,
    price REAL NOT NULL,
    FOREIGN KEY(cart_id) REFERENCES cart(id),
    FOREIGN KEY(product_id) REFERENCES products(id)
);
CREATE TABLE orders (
    id INT PRIMARY KEY AUTO_INCREMENT AUTO_INCREMENT,
    user_id INTEGER NOT NULL,
    cart_id INTEGER NOT NULL,
    status TEXT DEFAULT 'pending',
    total REAL NOT NULL,
    payment_status TEXT DEFAULT 'unpaid',
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY(cart_id) REFERENCES cart(id)
);
CREATE TABLE order_items (
    id INT PRIMARY KEY AUTO_INCREMENT AUTO_INCREMENT,
    order_id INTEGER NOT NULL,
    product_id INTEGER NOT NULL,
    quantity INTEGER NOT NULL,
    price REAL NOT NULL,
    FOREIGN KEY(order_id) REFERENCES orders(id),
    FOREIGN KEY(product_id) REFERENCES products(id)
);
CREATE TABLE products (
    id INT PRIMARY KEY AUTO_INCREMENT AUTO_INCREMENT,
    name TEXT NOT NULL,
    category TEXT NOT NULL,
    orientation TEXT,                 -- landscape / portrait / square
    price REAL NOT NULL,
    image_url TEXT,
    specs TEXT,                       -- JSON string
    status TEXT DEFAULT 'active',
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP
);
CREATE TABLE notification_settings (
  id INT PRIMARY KEY AUTO_INCREMENT AUTO_INCREMENT,
  key TEXT UNIQUE NOT NULL,
  value TEXT NOT NULL
);
CREATE TABLE email_templates (
  id INT PRIMARY KEY AUTO_INCREMENT AUTO_INCREMENT,
  template_key TEXT UNIQUE NOT NULL,
  name TEXT NOT NULL,
  subject TEXT NOT NULL,
  html_body TEXT NOT NULL,
  hero_image_url TEXT,
  enabled INTEGER NOT NULL DEFAULT 1,
  created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
  updated_at DATETIME DEFAULT CURRENT_TIMESTAMP
);
CREATE TABLE IF NOT EXISTS "staff" (
  id INT PRIMARY KEY AUTO_INCREMENT AUTO_INCREMENT,
  name TEXT NOT NULL,
  email TEXT UNIQUE,
  role TEXT, skills TEXT,
  status TEXT NOT NULL DEFAULT 'ACTIVE'
    CHECK(status IN ('ACTIVE','INACTIVE','ON_LEAVE')),
  created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
  inactive_reason TEXT,
  updated_at DATETIME DEFAULT CURRENT_TIMESTAMP
, password_hash TEXT, is_account_active INTEGER DEFAULT 0, phone TEXT, avatar_url TEXT);
CREATE TABLE staff_sessions (
  id INT PRIMARY KEY AUTO_INCREMENT AUTO_INCREMENT,
  staff_id INTEGER NOT NULL,
  device_name TEXT,
  ip_address TEXT,
  user_agent TEXT,
  is_current INTEGER NOT NULL DEFAULT 1,
  last_active DATETIME DEFAULT CURRENT_TIMESTAMP,
  created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
  FOREIGN KEY (staff_id) REFERENCES staff(id)
);
CREATE TABLE event_assets (
  id INT PRIMARY KEY AUTO_INCREMENT AUTO_INCREMENT,
  event_id INTEGER NOT NULL,
  staff_id INTEGER NOT NULL,
  type TEXT NOT NULL
    CHECK(type IN ('IMAGE','VIDEO')),
  title TEXT,
  notes TEXT,
  s3_key TEXT NOT NULL,
  status TEXT NOT NULL DEFAULT 'DRAFT'
    CHECK(status IN ('DRAFT','SUBMITTED','APPROVED','REJECTED')),
  created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
  updated_at DATETIME DEFAULT CURRENT_TIMESTAMP,
  FOREIGN KEY (event_id) REFERENCES events(id),
  FOREIGN KEY (staff_id) REFERENCES staff(id)
);
CREATE TABLE attendance (

  id INT PRIMARY KEY AUTO_INCREMENT AUTO_INCREMENT,

  staff_id INTEGER NOT NULL,

  date DATE NOT NULL,

  status TEXT NOT NULL CHECK(status IN ('present', 'absent', 'leave')),

  notes TEXT,

  created_at DATETIME DEFAULT CURRENT_TIMESTAMP,

  updated_at DATETIME DEFAULT CURRENT_TIMESTAMP, request_status TEXT DEFAULT 'approved', reviewed_at DATETIME, review_notes TEXT, reviewed_by INTEGER,

  FOREIGN KEY (staff_id) REFERENCES staff(id)

);
CREATE TABLE IF NOT EXISTS "tasks" (

  id INT PRIMARY KEY AUTO_INCREMENT AUTO_INCREMENT,

  title TEXT NOT NULL,

  description TEXT,

  staff_id INTEGER,

  created_by INTEGER,

  created_by_staff_id INTEGER,

  status TEXT NOT NULL DEFAULT 'PENDING'

    CHECK(status IN ('PENDING', 'COMPLETED')),

  created_at DATETIME DEFAULT CURRENT_TIMESTAMP,

  completed_at DATETIME,

  due_date DATE,

  FOREIGN KEY (staff_id) REFERENCES staff(id),

  FOREIGN KEY (created_by) REFERENCES users(id),

  FOREIGN KEY (created_by_staff_id) REFERENCES staff(id)

);
CREATE TABLE feedback (

  id INT PRIMARY KEY AUTO_INCREMENT AUTO_INCREMENT,

  client_id INTEGER NOT NULL,

  event_id INTEGER NOT NULL,

  rating INTEGER NOT NULL CHECK(rating BETWEEN 1 AND 5),

  comments TEXT,

  created_at DATETIME DEFAULT CURRENT_TIMESTAMP,

  FOREIGN KEY (client_id) REFERENCES clients(id),

  FOREIGN KEY (event_id) REFERENCES events(id)

);
CREATE TABLE client_cart (

  id INT PRIMARY KEY AUTO_INCREMENT AUTO_INCREMENT,

  client_id INTEGER NOT NULL,

  status TEXT NOT NULL DEFAULT 'active'

    CHECK(status IN ('active', 'checked_out')),

  created_at DATETIME DEFAULT CURRENT_TIMESTAMP,

  updated_at DATETIME DEFAULT CURRENT_TIMESTAMP,

  FOREIGN KEY (client_id) REFERENCES clients(id)

);
CREATE TABLE client_cart_items (

  id INT PRIMARY KEY AUTO_INCREMENT AUTO_INCREMENT,

  cart_id INTEGER NOT NULL,

  product_id INTEGER,

  product_name TEXT,

  quantity INTEGER NOT NULL DEFAULT 1,

  price REAL NOT NULL DEFAULT 0,

  image_url TEXT,

  uploaded_image_data TEXT,

  frame_details TEXT,

  created_at DATETIME DEFAULT CURRENT_TIMESTAMP,

  updated_at DATETIME DEFAULT CURRENT_TIMESTAMP,

  FOREIGN KEY (cart_id) REFERENCES client_cart(id)

);
CREATE TABLE client_orders (

  id INT PRIMARY KEY AUTO_INCREMENT AUTO_INCREMENT,

  client_id INTEGER NOT NULL,

  cart_id INTEGER NOT NULL,

  total REAL NOT NULL DEFAULT 0,

  status TEXT NOT NULL DEFAULT 'placed'

    CHECK(status IN ('placed', 'processing', 'completed', 'cancelled')),

  payment_status TEXT NOT NULL DEFAULT 'unpaid'

    CHECK(payment_status IN ('unpaid', 'partial', 'paid')),

  created_at DATETIME DEFAULT CURRENT_TIMESTAMP,

  updated_at DATETIME DEFAULT CURRENT_TIMESTAMP,

  FOREIGN KEY (client_id) REFERENCES clients(id),

  FOREIGN KEY (cart_id) REFERENCES client_cart(id)

);
CREATE TABLE client_order_items (

  id INT PRIMARY KEY AUTO_INCREMENT AUTO_INCREMENT,

  order_id INTEGER NOT NULL,

  product_id INTEGER,

  product_name TEXT,

  quantity INTEGER NOT NULL DEFAULT 1,

  price REAL NOT NULL DEFAULT 0,

  image_url TEXT,

  uploaded_image_data TEXT,

  frame_details TEXT,

  created_at DATETIME DEFAULT CURRENT_TIMESTAMP,

  FOREIGN KEY (order_id) REFERENCES client_orders(id)

);
